/* Importing google fonts */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&family=Poppins:wght@600;700&display=swap');

*{
    margin: 0 0;
    padding: 0 0;
    --primary: #4361EE;
    --secondary: #757575;
    --foreground: #FFFFFF;
    --background: #252525;
    --background-alt: #353535;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Microsoft Edge */
    scroll-behavior: smooth;
}

/* Google chrome */
*::-webkit-scrollbar{
    width: 0px;
    height: 0px;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

/* Main section stylings */
main{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
}

/* Section wrapper stylings */
.sections-wrapper{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

/* Hero section stylings */
.hero-section{
    width: 100%;
    height: auto;
    background-color: var(--background);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
}

/* Hide the horizontal scrollbar */
.hero-section::-webkit-scrollbar{
    width: 0px;
    height: 0px;
}

.hero-section > .hero-section-wrapper{
    width: auto;
    height: auto;
    padding: 0 24px 24px 24px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    column-gap: 24px;
}

.hero-section-wrapper > .hero-item{
    width: 75vw;
    aspect-ratio: 2/3;
    padding: 24px;
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    row-gap: 4px;
    scroll-snap-align: center;
}

.hero-item > .hero-item-name{
    width: 100%; 
    color: var(--foreground);
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 24px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.hero-item > .hero-item-trailer{
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    column-gap: 8px;
}

.hero-item-trailer > .trailer-icon{
    color: var(--foreground);
    font-size: 20px;
}

.hero-item-trailer > .trailer-text{
    color: var(--foreground);
    text-decoration: none;
    font-family: "DM Sans", sans-serif;
    font-weight: 400;
    font-size: 14px;
}

/* Every movie sections stylings */
.movie-section{
    width: 100%;
    height: auto;
    padding: 6px 0;
    background-color: var(--background);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    row-gap: 16px;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
}

/* Hide horizontal scrollbar */
.movie-section::-webkit-scrollbar{
    width: 0px;
    height: 0px;
}

.movie-section > .movie-section-title{
    color: var(--foreground);
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 24px;
    margin: 0 24px;
    position: sticky;
    left: 24px;
}

.movie-section > .movie-section-wrapper{
    width: auto;
    height: auto;
    padding: 0 24px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    column-gap: 24px;
}

.movie-section-wrapper > .movie-item{
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    scroll-snap-align: center;
}   

.movie-item > .movie-item-poster{
    width: calc(100vw / 2);
    height: auto;
    margin-bottom: 4px;
}

.movie-item > .movie-item-name{
    width: calc(100vw / 2);
    color: var(--foreground);
    font-family: "DM Sans", sans-serif;
    font-weight: 400;
    font-size: 14px;
    align-self: flex-start;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.movie-item > .movie-item-date{
    color: var(--secondary);
    font-family: "DM Sans", sans-serif;
    font-weight: 300;
    font-size: 12px;
    align-self: flex-start;
}

/* Tablet View */
@media only screen and (min-width: 768px){
    main > .sidebar{
        width: 40%;
    } 

    .hero-section-wrapper > .hero-item{
        width: 35vw;
    }

    .movie-item > .movie-item-poster, .movie-item > .movie-item-name{
        width: calc(100vw / 3);
    }
}

/* Desktop View */
@media only screen and (min-width: 1024px){
    main > .sidebar{
        width: 20%;
        position: fixed;
        top: 65px;
        transform: none;
        padding: 24px 0;
    }

    .sections-wrapper{
        width: 80%;
        padding-top: 65px;
    }

    .hero-section-wrapper > .hero-item{
        width: calc(100vw / 5);
    }

    .movie-item > .movie-item-poster, .movie-item > .movie-item-name{
        width: calc(100vw / 6);
    }
}
