/* Importing google fonts */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&family=Poppins:wght@600;700&display=swap');

*{
    margin: 0 0;
    padding: 0 0;
    --primary: #4361EE;
    --secondary: #757575;
    --foreground: #FFFFFF;
    --background: #252525;
    --background-alt: #353535;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

/* Header section stylings */
header{
    width: 100%;
    height: auto;
    color: var(--foreground);
    background-color: var(--background);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

header > .header-wrapper{
    width: 90%;
    height: auto;
    padding: 10px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header-wrapper > i{
    font-size: 20px;
}

.header-wrapper > .brand{
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 30px;
}

/* Full searchbar for desktop view */
.header-wrapper > .searchbar{
    width: auto;
    height: auto;
    padding: 10px 16px;
    background-color: var(--background-alt);
    display: none;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    column-gap: 16px;
}

.searchbar > .searchbar-input{
    width: 175;
    height: auto;
    color: var(--foreground);
    background-color: transparent;
    border: none;
    outline: none;
    font-family: "DM Sans", sans-serif;
    font-weight: 400;
    font-size: 14px;
}

.searchbar > .searchbar-icon{
    color: #858585;
    font-size: 16px;
}

/* Main section stylings */
main{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

/* Sidebar stylings */
main > .sidebar{
    width: 55%;
    height: 100vh;
    padding-bottom: 32px;
    background-color: var(--background);
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow-y: scroll;
}

/* Custom scrollbar */
.sidebar::-webkit-scrollbar{
    width: 5px;
}

.sidebar::-webkit-scrollbar-thumb{
    background-color: var(--background-alt);
    border-radius: 5px;
}

.sidebar > .sidebar-close-icon{
    color: var(--foreground);
    font-size: 24px;
    margin: 32px;
    align-self: flex-end;
}

.sidebar > .sidebar-wrapper{
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: stretch;
    row-gap: 16px;
}

.sidebar-wrapper > .main-list, .sidebar-wrapper > .genre-list{
    width: auto;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    row-gap: 16px;
}

.main-list a, .genre-list a{
    color: var(--secondary);
    text-decoration: none;
    font-family: "DM Sans", sans-serif;
    font-weight: 400;
    font-size: 16px;
}

.genre-list > .genre-title{
    color: var(--foreground);
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 18px;
}

/* Hero section stylings */
.hero-section{
    width: 100%;
    height: auto;
    background-color: var(--background);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
}

/* Hide the horizontal scrollbar */
.hero-section::-webkit-scrollbar{
    width: 0px;
    height: 0px;
}

.hero-section > .hero-section-wrapper{
    width: auto;
    height: auto;
    padding: 0 24px 24px 24px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    column-gap: 24px;
}

.hero-section-wrapper > .hero-item{
    width: max-content;
    aspect-ratio: 2/3;
    padding: 16px 16px;
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    scroll-snap-align: center;
}

.hero-item > .hero-item-name{
    color: var(--foreground);
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 24px;
}

.hero-item > .hero-item-trailer{
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    column-gap: 8px;
}

.hero-item-trailer > .trailer-icon{
    color: var(--foreground);
    font-size: 20px;
}

.hero-item-trailer > .trailer-text{
    color: var(--foreground);
    text-decoration: none;
    font-family: "DM Sans", sans-serif;
    font-weight: 400;
    font-size: 14px;
}
